.sidebar {
  background-color: #f5f7ff;
  padding: 0px 10px;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  transition: width 0.3s;
  position: relative;
  height: 100vh;
}

.collapsed {
  width: 20px;
}

.expanded {
  width: 220px;
}

.toggleButton {
  position: absolute;
  top: 15px;
  right: -20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: #667eea;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, transform 0.3s;
  z-index: 10;
}

.toggleButton:hover {
  background-color: #5464d6;
}

.logo {
  color: #667eea;
  margin-bottom: 30px;
  user-select: none;
  font-weight: 700;
  font-size: 1.5rem;
}

.navLink {
  display: flex;
  align-items: center;
  padding: 12px 15px;
  margin: 5px 0;
  text-decoration: none;
  color: #333;
  border-radius: 6px;
  font-weight: 500;
  white-space: nowrap;
  transition: background-color 0.3s;
  cursor: pointer;
}

.navLink:hover {
  background-color: #dde3ff;
}

.active {
  background-color: #667eea;
  color: white;
}

.icon {
  margin-right: 10px;
  font-size: 18px;
  min-width: 20px;
  text-align: center;
}

/* Kapanınca menü ve logo gizle */
.collapsedContent {
  display: none;
}
